:root {
  /* font-family */
  --font-fam-1: sans-serif;
  --font-fam-2: sans-serif;
  --font-fam-3: sans-serif;
  --font-fam-4: sans-serif;
  --font-fam-5: sans-serif;
  --font-fam-6: sans-serif;

  /* define the color palette */
  --bg-col-1: #000000;
  --bg-col-2: #ffffff;
  --bg-col-3: #ffffff;
  --bg-col-4: #ffffff;
  --bg-col-5: #ffffff;
  --bg-col-6: #ffffff;

  /* font-color */
  --text-col-1: #000000;
  --text-col-2: #ffffff;
  --text-col-3: #ffffff;
  --text-col-4: #ffffff;
  --text-col-5: #ffffff;
  --text-col-6: #ffffff;

  --max-width-1: 985px; /* max-width for the main content*/

  /* font-size, 1rem == 16px, clamp(MIN_VALUE, VALUE, MAX_VAL) */
  --fs-1: clamp(4.5rem, 12vw + 1rem, 5.5rem);
  --fs-2: clamp(3.2rem, 12vw + 1rem, 4rem);
  --fs-3: clamp(2.25rem, 12vw + 1rem, 2.8rem);
  --fs-4: clamp(1.75rem, 12vw + 1rem, 2rem);
  --fs-5: 22px;
  --fs-6: 20px;
  --fs-7: 18px;
  --fs-8: 16px;
  --fs-9: 14px;

  /* border-radius */
  --bord-rad-1: 12px;
  --bord-rad-2: 5px;
  --bord-rad-3: 5px;
  --bord-rad-4: 5px;
  --bord-rad-5: 5px;
  --bord-rad-6: 5px;
}

/* importing fonts example*/
/* 
@font-face {
  font-family: "Poppins-Bold";
  src: url(../fonts/Poppins-Bold.ttf);
} 
*/

/* Changing predefined html properties */
html {
  scroll-behavior: smooth;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll; /* make the scrollbar not take up the total space of the page */
  cursor: context-menu;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

/* Other fonts
  font-family: "Helvetica", Arial, sans-serif;
  font-family: Inter, system-ui, sans-serif;
  font-family: Tenor Sans, Georgia, serif;
  font-family: Roboto Mono, Menlo, monospace;
*/

::selection {
  color: white;
  background-color: rgb(126, 167, 243);
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

ul {
  list-style: none;
}

button {
  outline: inherit;
  background: none;
  cursor: pointer;
  color: inherit;
  font: inherit;
  border: none;
  padding: 0;
}

input,
textarea {
  font-family: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

textarea {
  resize: vertical;
}

input:focus,
textarea:focus {
  outline: none; /* removes the border on focus for inputs */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
  font-size: 14px;
}

a,
a:hover,
a:focus,
a:active {
  color: inherit;
}

/* grid classes */
.grid {
  display: grid;
}
.grid-center {
  display: grid;
  place-content: center;
}

/* flex classes */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

/* height and width */
.height-100 {
  height: 100%;
}
.width-100 {
  width: 100%;
}
.both-100 {
  width: 100%;
  height: 100%;
}

/* classes dependent on the css variables */
.max-width-1 {
  width: var(--max-width-1);
}

/* background-color */
.bg-col-1 {
  background-color: var(--bg-col-1);
}
.bg-col-2 {
  background-color: var(--bg-col-2);
}
.bg-col-3 {
  background-color: var(--bg-col-3);
}
.bg-col-4 {
  background-color: var(--bg-col-4);
}
.bg-col-5 {
  background-color: var(--bg-col-5);
}
.bg-col-6 {
  background-color: var(--bg-col-6);
}

/* tw palette */
.temp-bg-col-1 {
  background-color: #071330;
}
.temp-bg-col-2 {
  background-color: #0c4160;
}
.temp-bg-col-3 {
  background-color: #738fa7;
}
.temp-bg-col-4 {
  background-color: #c3ceda;
}
.temp-bg-col-5 {
  background-color: #c3ceda57;
}
.temp-bg-col-6 {
  background-color: #e8e8e857;
}

/* bord-rad */
.bord-rad-1 {
  border-radius: var(--bord-rad-1);
}
.bord-rad-2 {
  border-radius: var(--bord-rad-2);
}
.bord-rad-3 {
  border-radius: var(--bord-rad-3);
}
.bord-rad-4 {
  border-radius: var(--bord-rad-4);
}
.bord-rad-5 {
  border-radius: var(--bord-rad-5);
}
.bord-rad-6 {
  border-radius: var(--bord-rad-6);
}

/* font-family */
.font-fam-1 {
  font-family: var(--font-fam-1);
}
.font-fam-2 {
  font-family: var(--font-fam-2);
}
.font-fam-3 {
  font-family: var(--font-fam-3);
}
.font-fam-4 {
  font-family: var(--font-fam-4);
}
.font-fam-5 {
  font-family: var(--font-fam-5);
}
.font-fam-6 {
  font-family: var(--font-fam-6);
}

/* text-col */
.text-col-1 {
  color: var(--text-col-1);
}
.text-col-2 {
  color: var(--text-col-2);
}
.text-col-3 {
  color: var(--text-col-3);
}
.text-col-4 {
  color: var(--text-col-4);
}
.text-col-5 {
  color: var(--text-col-5);
}
.text-col-6 {
  color: var(--text-col-6);
}

/* font-size */
.fs-1 {
  font-size: var(--fs-1);
}
.fs-2 {
  font-size: var(--fs-2);
}
.fs-3 {
  font-size: var(--fs-3);
}
.fs-4 {
  font-size: var(--fs-4);
}
.fs-5 {
  font-size: var(--fs-5);
}
.fs-6 {
  font-size: var(--fs-6);
}
.fs-7 {
  font-size: var(--fs-7);
}
.fs-8 {
  font-size: var(--fs-8);
}
.fs-9 {
  font-size: var(--fs-9);
}

/* Define based on project */
.header-1 {
  font-size: var(--fs-1);
  line-height: 1.4;
}
.header-2 {
  font-size: var(--fs-2);
  line-height: 1.45;
}
.header-3 {
  font-size: var(--fs-3);
  line-height: 1.545;
}
.header-4 {
  font-size: var(--fs-4);
}

/* text */
.text-1 {
  font-size: var(--fs-6);
  line-height: 1.6;
}
.text-2 {
  font-size: var(--fs-7);
  line-height: 1.62;
}
.text-3 {
  font-size: var(--fs-8);
  line-height: 1.688;
}
.text-4 {
  font-size: var(--fs-9);
  line-height: 1.688;
}

@media screen and (max-width: 1200px) {
  .max-width-1 {
    padding: 0px 40px;
  }
}