/* opacity */
.op-0 {
  opacity: 0%;
}
.op-5 {
  opacity: 5%;
}
.op-10 {
  opacity: 10%;
}
.op-15 {
  opacity: 15%;
}
.op-20 {
  opacity: 20%;
}
.op-25 {
  opacity: 25%;
}
.op-30 {
  opacity: 30%;
}
.op-35 {
  opacity: 35%;
}
.op-40 {
  opacity: 40%;
}
.op-45 {
  opacity: 45%;
}
.op-50 {
  opacity: 50%;
}
.op-55 {
  opacity: 55%;
}
.op-60 {
  opacity: 60%;
}
.op-65 {
  opacity: 65%;
}
.op-70 {
  opacity: 70%;
}
.op-75 {
  opacity: 75%;
}
.op-80 {
  opacity: 80%;
}
.op-85 {
  opacity: 85%;
}
.op-90 {
  opacity: 90%;
}
.op-95 {
  opacity: 95%;
}
.op-100 {
  opacity: 100%;
}

/* font-weight */
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

/* z-index */
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.z-30 {
  z-index: 20;
}
.z-40 {
  z-index: 40;
}
.z-50 {
  z-index: 50;
}

/* text-side */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}

/* other helper classes */
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.hidden {
  display: none;
}
.round {
  border-radius: 999px;
}
.img-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.pointer {
  cursor: pointer;
}

.align-text-vertically {
  display: flex;
  align-items: center;
}

.remove-decoration {
  text-decoration: none;
}

.disable-text-select {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
}
