/* ---- Util classes that are not dependent on root variables */

/* -- Resetting inbuilt html stuff */
ul,
ol {
  margin: 0px;
  padding-left: 33px;
}
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
.disable-text-select,
button,
img,
input::placeholder,
textarea::placeholder {
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}
button {
  outline: inherit;
  background: none;
  cursor: pointer;
  color: inherit;
  font: inherit;
  border: none;
  padding: 0;
}
/* disable text select utility class + applied to buttons, images and inputs */
code,
.code {
  font-family: Roboto Mono, Menlo, monospace;
  background: rgb(243, 243, 243);
  color: rgb(48, 48, 48);
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 6px;
}
.code {
  max-width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input,
textarea {
  font-family: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
textarea {
  resize: vertical;
}
input:focus,
textarea:focus {
  outline: none; /* removes the border on focus for inputs */
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
  font-size: 14px;
}
a,
a:hover,
a:focus,
a:active {
  color: inherit;
}
/*  */
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* flex classes */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
/* height and width */
.height-100 {
  height: 100%;
}
.width-100 {
  width: 100%;
}
.both-100 {
  width: 100%;
  height: 100%;
}

/* grid classes */
.grid {
  display: grid;
}
.grid-center {
  display: grid;
  place-content: center;
}


/* opacity */
.op-0 {
  opacity: 0%;
}
.op-5 {
  opacity: 5%;
}
.op-10 {
  opacity: 10%;
}
.op-15 {
  opacity: 15%;
}
.op-20 {
  opacity: 20%;
}
.op-25 {
  opacity: 25%;
}
.op-30 {
  opacity: 30%;
}
.op-35 {
  opacity: 35%;
}
.op-40 {
  opacity: 40%;
}
.op-45 {
  opacity: 45%;
}
.op-50 {
  opacity: 50%;
}
.op-55 {
  opacity: 55%;
}
.op-60 {
  opacity: 60%;
}
.op-65 {
  opacity: 65%;
}
.op-70 {
  opacity: 70%;
}
.op-75 {
  opacity: 75%;
}
.op-80 {
  opacity: 80%;
}
.op-85 {
  opacity: 85%;
}
.op-90 {
  opacity: 90%;
}
.op-95 {
  opacity: 95%;
}
.op-100 {
  opacity: 100%;
}

/* font-weight */
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

/* z-index */
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.z-30 {
  z-index: 30;
}
.z-40 {
  z-index: 40;
}
.z-50 {
  z-index: 50;
}


/* text-side */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}

/* other helper classes */
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.hidden {
  display: none;
}
.round {
  border-radius: 999px;
}
.img-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.pointer {
  cursor: pointer;
}

.hover-pointer:hover{
  cursor: pointer;
}
.hover-underline:hover{
  text-decoration: underline;
}

.align-text-vertically {
  display: flex;
  align-items: center;
}
.remove-decorations {
  text-decoration: none;
}

/* 
credits
https://css-irl.info/animating-underlines/ 
*/
/* Animated link tag 1 */
.animated-link-tag-1 {
  display: block;
  position: relative;
}
.animated-link-tag-1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.05em;
  height: 2px;
  background: #000;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.animated-link-tag-1:hover::after,
.animated-link-tag-1:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.1em, 0);
}
.animated-link-tag-2 {
  display: block;
  position: relative;
}
.animated-link-tag-2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.05em;
  height: 2px;
  background: #000;
  opacity: 0;
  transition: opacity 300ms, transform 200ms;
  transform: translate3d(-50%, 0, 0);
}
.animated-link-tag-2:hover::after,
.animated-link-tag-2:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
  transform: translate3d(0, 0, 0);
}
