/* max-width */
.max-width-1 {
  width: var(--max-width-1);
}
.max-width-2 {
  width: var(--max-width-2);
}
.max-width-3 {
  width: var(--max-width-3);
}

/* background-color */
.main-col-1 {
  background-color: var(--main-col-1);
}
.main-col-2 {
  background-color: var(--main-col-2);
}
.main-col-3 {
  background-color: var(--main-col-3);
}
.main-col-4 {
  background-color: var(--main-col-4);
}
.main-col-5 {
  background-color: var(--main-col-5);
}
.main-col-6 {
  background-color: var(--main-col-6);
}
.main-col-7 {
  background-color: var(--main-col-7);
}
.main-col-8 {
  background-color: var(--main-col-8);
}
.main-col-9 {
  background-color: var(--main-col-9);
}

/* tw palette */
.temp-main-col-1 {
  background-color: var(--temp-main-col-1);
}
.temp-main-col-2 {
  background-color: var(--temp-main-col-2);
}
.temp-main-col-3 {
  background-color: var(--temp-main-col-3);
}
.temp-main-col-4 {
  background-color: var(--temp-main-col-4);
}
.temp-main-col-5 {
  background-color: var(--temp-main-col-5);
}
.temp-main-col-6 {
  background-color: var(--temp-main-col-6);
}
.temp-main-col-7 {
  background-color: var(--temp-main-col-7);
}
.temp-main-col-8 {
  background-color: var(--temp-main-col-8);
}
.temp-main-col-9 {
  background-color: var(--temp-main-col-9);
}

/* bord-rad */
.border-rad-1 {
  border-radius: var(--border-rad-1);
}
.border-rad-2 {
  border-radius: var(--border-rad-2);
}
.border-rad-3 {
  border-radius: var(--border-rad-3);
}
.border-rad-4 {
  border-radius: var(--border-rad-4);
}
.border-rad-5 {
  border-radius: var(--border-rad-5);
}
.border-rad-6 {
  border-radius: var(--border-rad-6);
}
/* font-family */
.font-fam-1 {
  font-family: var(--font-fam-1);
}
.font-fam-2 {
  font-family: var(--font-fam-2);
}
.font-fam-3 {
  font-family: var(--font-fam-3);
}
.font-fam-4 {
  font-family: var(--font-fam-4);
}
.font-fam-5 {
  font-family: var(--font-fam-5);
}
.font-fam-6 {
  font-family: var(--font-fam-6);
}

/* text-color mapped to main-col-x */
.text-col-1 {
  color: var(--main-col-1);
}
.text-col-2 {
  color: var(--main-col-2);
}
.text-col-3 {
  color: var(--main-col-3);
}
.text-col-4 {
  color: var(--main-col-4);
}
.text-col-5 {
  color: var(--main-col-5);
}
.text-col-6 {
  color: var(--main-col-6);
}
.text-col-7 {
  color: var(--main-col-7);
}
.text-col-8 {
  color: var(--main-col-8);
}
.text-col-9 {
  color: var(--main-col-9);
}

/* font-size */
.fs-1,
h1 {
  font-size: var(--fs-1);
}
.fs-2,
h2 {
  font-size: var(--fs-2);
}
.fs-3,
h3 {
  font-size: var(--fs-3);
}
.fs-4,
h4 {
  font-size: var(--fs-4);
}
.fs-5,
h5 {
  font-size: var(--fs-5);
}
.fs-6,
h6 {
  font-size: var(--fs-6);
}
.fs-7,
h7 {
  font-size: var(--fs-7);
}
.fs-8,
h8 {
  font-size: var(--fs-8);
}
.fs-9,
h9 {
  font-size: var(--fs-9);
}
.fs-10 {
  font-size: var(--fs-10);
}

/* shadows taken from here, a lot of examples to choose from https://getcssscan.com/css-box-shadow-examples */
.shadow-1 {
  box-shadow: var(--shadow-1);
}
.shadow-2 {
  box-shadow: var(--shadow-2);
}
.shadow-3 {
  box-shadow: var(--shadow-3);
}
.shadow-4 {
  box-shadow: var(--shadow-4);
}
.shadow-5 {
  box-shadow: var(--shadow-5);
}
.shadow-6 {
  box-shadow: var(--shadow-6);
}

/* line-height +  */
.header-1 {
  font-size: var(--fs-1);
  line-height: var(--lh-1);
}
.header-2 {
  font-size: var(--fs-2);
  line-height: var(--lh-2);
}
.header-3 {
  font-size: var(--fs-3);
  line-height: var(--lh-3);
}
.header-4 {
  font-size: var(--fs-4);
  line-height: var(--lh-4);
}
.header-5 {
  font-size: var(--fs-5);
  line-height: var(--lh-5);
}
.header-6 {
  font-size: var(--fs-6);
  line-height: var(--lh-6);
}

/* text */
.text-1 {
  font-size: var(--fs-6);
  line-height: var(--lh-6);
}
.text-2 {
  font-size: var(--fs-7);
  line-height: var(--lh-7);
}
.text-3 {
  font-size: var(--fs-8);
  line-height: var(--lh-8);
}
.text-4 {
  font-size: var(--fs-9);
  line-height: var(--lh-9);
}

/* transition */
.transition-1 {
  transition: var(--transition-1);
}
.transition-2 {
  transition: var(--transition-2);
}
.transition-3 {
  transition: var(--transition-3);
}

/* hr with a height of 1px, and decreasing color intensity*/
.hr-1-1 {
  border: 0;
  height: 1px;
  background: var(--hr-col-1);
}
.hr-1-2 {
  border: 0;
  height: 1px;
  background: var(--hr-col-2);
}
.hr-1-3 {
  border: 0;
  height: 1px;
  background: var(--hr-col-3);
}
/* hr with a height of 2px, and decreasing color intensity*/
.hr-2-1 {
  border: 0;
  height: 2px;
  background: var(--hr-col-1);
}
.hr-2-2 {
  border: 0;
  height: 2px;
  background: var(--hr-col-2);
}
.hr-2-3 {
  border: 0;
  height: 2px;
  background: var(--hr-col-3);
}

/* Sizes taken from tw */
.ls-1 {
  letter-spacing: var(--ls-1);
}
.ls-2 {
  letter-spacing: var(--ls-2);
}
.ls-3 {
  letter-spacing: var(--ls-3);
}
.ls-4 {
  letter-spacing: var(--ls-4);
}
.ls-5 {
  letter-spacing: var(--ls-5);
}
.ls-6 {
  letter-spacing: var(--ls-6);
}

/* line-height */
.lh-1 {
  line-height: var(--lh-1);
}
.lh-2 {
  line-height: var(--lh-2);
}
.lh-3 {
  line-height: var(--lh-3);
}
.lh-4 {
  line-height: var(--lh-4);
}
.lh-5 {
  line-height: var(--lh-5);
}
.lh-6 {
  line-height: var(--lh-6);
}
.lh-7 {
  line-height: var(--lh-7);
}
.lh-8 {
  line-height: var(--lh-8);
}
.lh-9 {
  line-height: var(--lh-9);
}

/* border */
.border-1-1 {
  border: var(--border-1-1);
}
.border-1-2 {
  border: var(--border-1-2);
}
.border-1-3 {
  border: var(--border-1-3);
}
.border-2-1 {
  border: var(--border-2-1);
}
.border-2-2 {
  border: var(--border-2-2);
}
.border-2-3 {
  border: var(--border-2-3);
}

.main-col-danger-bg {
  background: var(--main-col-danger-bg);
}
.main-col-danger-txt {
  color: var(--main-col-danger-txt);
}
.main-col-success-bg {
  background: var(--main-col-success-bg);
}
.main-col-success-txt {
  color: var(--main-col-success-txt);
}
