/* Changing predefined html properties */

::selection {
  color: var(--selection-text-col);
  background-color: var(--selection-main-col);
}

/* remove the init font size for h tags so that easily can change divs into h tags */
h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
h9 {
  /* font-size: unset; */
  font-weight: unset;
}

ul,
ol {
  margin: 0px;
  padding-left: 33px;
}
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

button {
  outline: inherit;
  background: none;
  cursor: pointer;
  color: inherit;
  font: inherit;
  border: none;
  padding: 0;
}

/* All credits go to tailwind --> https://tailwindcss.com/docs/font-family 
Straight up copy of tailwind classes
*/
.font-sans {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.font-serif {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

code,
.code {
  font-family: Roboto Mono, Menlo, monospace;
  background: rgb(243, 243, 243);
  color: rgb(48, 48, 48);
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 6px;
}
.code {
  max-width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input,
textarea {
  font-family: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
textarea {
  resize: vertical;
}
input:focus,
textarea:focus {
  outline: none; /* removes the border on focus for inputs */
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
  font-size: 15px;
}
a,
a:hover,
a:focus,
a:active {
  color: inherit;
}
