/* ---- Classes mapped to  root variables  */

/*  */
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* flex-center class */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

/* height and width */
.height-100 {
  height: 100%;
}
.width-100 {
  width: 100%;
}
.both-100 {
  width: 100%;
  height: 100%;
}

/* grid classes */
.grid {
  display: grid;
}
.grid-center {
  display: grid;
  place-content: center;
}

/* opacity */
.op-0 {
  opacity: 0%;
}
.op-5 {
  opacity: 5%;
}
.op-10 {
  opacity: 10%;
}
.op-15 {
  opacity: 15%;
}
.op-20 {
  opacity: 20%;
}
.op-25 {
  opacity: 25%;
}
.op-30 {
  opacity: 30%;
}
.op-35 {
  opacity: 35%;
}
.op-40 {
  opacity: 40%;
}
.op-45 {
  opacity: 45%;
}
.op-50 {
  opacity: 50%;
}
.op-55 {
  opacity: 55%;
}
.op-60 {
  opacity: 60%;
}
.op-65 {
  opacity: 65%;
}
.op-70 {
  opacity: 70%;
}
.op-75 {
  opacity: 75%;
}
.op-80 {
  opacity: 80%;
}
.op-85 {
  opacity: 85%;
}
.op-90 {
  opacity: 90%;
}
.op-95 {
  opacity: 95%;
}
.op-100 {
  opacity: 100%;
}

/* font-weight */
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

/* z-index */
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.z-30 {
  z-index: 30;
}
.z-40 {
  z-index: 40;
}
.z-50 {
  z-index: 50;
}

/* text-side */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}

/* other helper classes */
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.hidden {
  display: none;
}
.round {
  border-radius: 999px;
}
.img-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.pointer {
  cursor: pointer;
}

.align-text-vertically {
  display: flex;
  align-items: center;
}
.remove-decorations {
  text-decoration: none;
}

/* credits https://css-irl.info/animating-underlines/ */
/* Animated link tag 1 */
.animated-link-tag-1 {
  display: block;
  position: relative;
}
.animated-link-tag-1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.05em;
  height: 2px;
  background: #000;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.animated-link-tag-1:hover::after,
.animated-link-tag-1:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.1em, 0);
}
.animated-link-tag-2 {
  display: block;
  position: relative;
}
.animated-link-tag-2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.05em;
  height: 2px;
  background: #000;
  opacity: 0;
  transition: opacity 300ms, transform 200ms;
  transform: translate3d(-50%, 0, 0);
}
.animated-link-tag-2:hover::after,
.animated-link-tag-2:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
  transform: translate3d(0, 0, 0);
}

.hover-pointer:hover {
  cursor: pointer;
}
.hover-underline:hover {
  text-decoration: underline;
}

/* rows */
.gtr-1-1-1-1 {
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.gtr-1-1-1 {
  grid-template-rows: 1fr 1fr 1fr;
}
.gtr-1-1 {
  grid-template-rows: 1fr 1fr;
}
.gtr-1 {
  grid-template-rows: 1fr;
}

/* rows - 1fr & auto  */
.gtr-1-auto {
  grid-template-rows: 1fr auto;
}
.gtr-auto-1 {
  grid-template-rows: auto 1fr;
}

/* rows - auto */
.gtr-auto-auto-auto {
  grid-template-rows: auto auto auto;
}
.gtr-auto-auto {
  grid-template-rows: auto auto;
}
.gtr-auto {
  grid-template-rows: auto;
}

/* grid template columns */
.gtc-1-1-1-1 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.gtc-1-1-1 {
  grid-template-columns: 1fr 1fr 1fr;
}
.gtc-1-1 {
  grid-template-columns: 1fr 1fr;
}
.gtc-1 {
  grid-template-columns: 1fr;
}
/* 1fr & auto  */
.gtc-1-auto {
  grid-template-columns: 1fr auto;
}
.gtc-auto-1 {
  grid-template-columns: auto 1fr;
}

/* auto */
.gtc-auto-auto {
  grid-template-columns: auto auto auto;
}
.gtc-auto-auto {
  grid-template-columns: auto auto;
}
.gtc-auto {
  grid-template-columns: auto;
}

/*  */
.bg-col-white {
  background: white;
}
.text-col-white {
  color: white;
}
.bg-col-black {
  background: black;
}
.text-col-white {
  color: black;
}

/* -- tw */
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.align-center {
  align-content: center;
}
.align-start {
  align-content: flex-start;
}
.align-end {
  align-content: flex-end;
}
.align-between {
  align-content: space-between;
}
.align-around {
  align-content: space-around;
}
.align-evenly {
  align-content: space-evenly;
}

/* -- additional width stuff */
.max-w-full {
  max-width: 100% !important;
}
.min-w-full {
  min-width: 100% !important;
}
.max-h-full {
  max-height: 100% !important;
}
.min-h-full {
  min-height: 100% !important;
}
